/* all common css start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

ul,
ol {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    line-height: 0.8;
}

/* all common css end */


/* .container{
    width: 1320px;W
    margin: 0 auto;
} */

/* Banner Part start */
.navbar-brand {
    padding-right: 37px;
}

.navbar-nav {
    display: flex;
    column-gap: 22px;
}


.nav-link {
    font-size: 14px;
    font-weight: 500;
    color: #ff0000;
    /* background: green; */
    /* position: relative; */
}

/* .nav-link::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 80%;
    background: rgb(0, 255, 136);
    bottom: 0;
    left: 0;
} */

.manuicons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}


.manuicons a i {
    font-size: 20px;
    color: #222;
}

/* Banner Part end */


 /* fileteroption start */
 #filteroption{
    padding-top: 100px;
    padding-bottom: 95px;
 }
 /* fileteroption end */