/* all common css start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

ul,
lo {
    list-style: none;
}

a a:hover {
    text-decoration: none;
    display: inline-block;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    line-height: 0.8;
}
/* all common css end */


/* .container{
    width: 1320px;
    margin: 0 auto;
} */



.navbar-brand{
    padding-right: 37px;
}
.navbar-nav{
    display: flex;
    column-gap: 22px;
}

.nav-link{
    position: relative;
}
.nav-link::after{ 
    position: absolute;
    height: 2px;
    width:0px;
    background: red;
    content: "";
    bottom: 0;
    left: 8px;
    /* visibility: hidden; */
    opacity: 0;
    transition: 0.4s;
}
.nav-link:hover.nav-link::after{
    /* visibility: visible; */
    opacity: 1;
    width: 30px;
}
.nav-link{
    font-size: 14px;
    font-weight: 500;
    color: #222;
    padding:0;
}
.manuicons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}


.manuicons a i{
    font-size: 20px;
    color: #222;
}

